{% extends "base.html" %}

{% block title %}
Товары
{% endblock %}

{% block content %}
<div class="row mt-5 mb-5">
    <div class="col-3">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <strong>Категории</strong>
            </div>
            <ul class="list-group list-group-flush">
                {% for category in categories %}
                <li class="list-group-item {% if request.GET.category == category.slug %}active text-white bg-primary{% endif %}">
                    <a href="?category={{ category.slug }}" class="{% if request.GET.category == category.slug %}text-white{% else %}text-dark{% endif %}" style="text-decoration: none;">
                        🛒 {{ category.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
</div>
    <div class="col-9">
        <div class="row row-gap-4">
            {% for item in items %}
            <div class="col-4">
                {% include './components/_gcard.html' %}
            </div>
            {% endfor %}
        </div>
        {% include 'components/_pagination.html' %}
    </div>
</div>
{% endblock %}