<div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
  <div class="swiper-wrapper">
    {% for obj in item.itemimage_set.all %}
    <div class="swiper-slide">
      <img src="{{ obj.photo.url }}" alt="{{ item.title }}" />
    </div>
    {% endfor %}
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<div thumbsSlider="" class="swiper mySwiper mt-3">
  <div class="swiper-wrapper">
    {% for obj in item.itemimage_set.all %}
    <div class="swiper-slide">
      <img src="{{ obj.photo.url }}" alt="{{ item.title }}" />
    </div>
    {% endfor %}
  </div>
</div>
